#xxx{
    background: yellow;
    display:block;
    
  }
  body{
    margin:0;
    position: relative;
  }
  html{
    
  }
 .nav{
   position: absolute;
   top:0;

 }
  button{
    
    float: left;
  }
 
  .clearfix::after{
    content:"";
    display:block;
    clear:both;
  }